<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel='stylesheet' href="{{url_for('static' , filename='fontawesome/css/fontawesome.min.css' )}}">
    <link rel='stylesheet' href="{{url_for('static' , filename='fontawesome/css/all.min.css' )}}">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <meta name="keywords" content="cutom file input, styling, label, cross-browser, accessible, input type file" />
    <title>Soil Sys - Página de Resultados</title>

    <style type="text/css">
        th {
            text-align: center;
            font-size: 20px;
        }

        td {
            text-align: center;
            font-size: 18px;
        }
    </style>
</head>

<body id="page-top">
	<!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#details">Detalhes</a></li>
                </ul>
            </div>
        </div>
    </nav>
	<!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Soil Sys</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Imagem classificada com sucesso. <br>Resultado: <b>{{ predictions.class1 }}</b></h2>
                    <a class="btn btn-primary" href="#details">Ver Detalhes</a>
                </div>
            </div>
        </div>
    </header>
	 
	 
	 <!-- Results Classification -->
    <section class="projects-section bg-light" id="details">
        <div class="container px-4 px-lg-5">
            <!-- Featured Project Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-10 col-lg-8 mx-auto text-center">
					<i class="far fa-list fa-2x mb-2"></i>
					<h2 class="mb-5">Imagem Classificada</h2>
						
					<row style="width: 100% ; display: flex; justify-content: center;">
						<img class="img-fluid rounded" width="800" height="200" src={{url_for('static', filename='images/' + img)}}>
					</row>
				</div>
			</div>
				
			<div class="card flex-fill mt-4">
                <div class="card-header">
                    <row style="width: 100%; display: flex; justify-content: center;">
                        <h3 class="card-title mb-0">Classificação do Modelo</h3>
                    </row>
                </div>
                <row style="width: 100%; display: flex; justify-content: center; padding-bottom: 50px;">
                    <table class="table table-hover table-striped">
                        <tr>
                            <th>Ranking</th>
                            <th>Classe</th>
                            <th>Probabilidade</th>
                        </tr>
                        <tr>
                            <td>1º</td>
                            <td>{{ predictions.class1 }}</td>
                            <td>{{ predictions.prob1 }} %</td>
                        </tr>
                        <tr>
                            <td>2º</td>
                            <td>{{ predictions.class2 }}</td>
                            <td>{{ predictions.prob2 }} %</td>
                        </tr>
                    </table>
                </row>
			</div>
        </div>
			
	</section>
	
	<!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Soil Sys 2023</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
       <script src="{{url_for('static' , filename='js/scripts.js' )}}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>